.tix-apps{
    margin-top: 50px;
    background-image: url(../img/backapp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 80px 0;
    .tix-apps__container{
        display: flex;
        justify-content: center;
        width: 75%;
        margin: auto;
        .tix-apps__left{
            text-align: left;
            .tix-apps__left-title{
                @include styleText($color-white-0,$fs-4,$fw-bold-1);
            }
            .tix-apps__left-content{
                @include styleText($color-white-0,$fs-0,$fw-normal);
                margin-bottom: $mg-2;
            }
            .tix__ios-android{
                margin-top: $mg-1;
                @include styleText($color-white-0,$fs-0,$fw-normal);
                a{
                    text-decoration: none;
                    color: $color-white-0;
                    border-bottom: 1px solid $color-white-0;
                }
            }
        }
        .tix-apps__right{
            position: relative;
            .tix-apps__right-phone-img{
                display: block;
                max-width: 100%;
                padding: 0 30%;
            }
            .tix-apps__right-carousel{
                position: absolute;
                padding: 1.5% 32.3% 0 32.3%;
                top: 0;
                left: 0;
                width: 100%;
                .carousel-inner{
                    .carousel-item{
                        img{
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}

@include responsive("large"){
    .tix-apps{
        .tix-apps__container{
            .row{
                .tix-apps__left{
                    text-align: center;
                }
                .tix-apps__right{
                    .tix-apps__right-carousel{
                        padding: 1.9% 31.8% 0 31.8%;
                        .carousel-inner{
                            .carousel-item{
                                img{
                                    border-radius: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive("medium"){
    .tix-apps{
        .tix-apps__container{
            .row{
                .tix-apps__left{
                    text-align: center;
                }
                .tix-apps__right{
                    .tix-apps__right-carousel{
                        padding: 1% 31.8% 0 31.8%;
                        .carousel-inner{
                            .carousel-item{
                                img{
                                    border-radius: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive("small"){
    .tix-apps{
        .tix-apps__container{
            .row{
                .tix-apps__left{
                    text-align: center;
                    .tix-apps__left-title{
                        font-size: $fs-3;
                    }
                }
                .tix-apps__right{
                    .tix-apps__right-carousel{
                        padding: 2% 33.3% 0 33.3%;
                        .carousel-inner{
                            .carousel-item{
                                img{
                                    border-radius: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}