.tix-buyticket{
    .tix__container{
        .tix-buyticket__row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-white-0;
            transform: translateY(-50%);
            border-radius: 5px;
            width: 100%;
            padding: $pd-2 $pd-1;
            box-shadow: 0 0 10px $color-black-5;
            z-index: 2;
            .tix-buyticket-btn{
                width: 19%;
                &::after{
                    content: '';
                    position: absolute;
                    right: 0;
                    height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    border-right: 2px solid $color-white-3;
                }
                button{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    &:focus{
                        box-shadow: none;
                    }
                }
                .dropdown-menu{
                    // Tạo scroll cho mennu
                    height: auto;
                    max-height: 150px;
                    overflow-x: hidden;
                    .dropdown-item{
                        position: relative;
                        z-index: 3;
                        &:hover{
                            background-color: #60c5ef;
                            color: $color-white-0;
                            transition: all .3s;
                            z-index: 5;
                        }
                    }
                }
            }
            .btn-buyticketnow{
                @include styleText($color-white-0,$fs-1 + 1,$fw-normal);
                text-transform: uppercase;
                @include styleButton($color-black-8,none,$pd-1,$pd-1,4px);
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
}

@include responsive("large"){
    .tix-buyticket{
        display: none;
    }
}